html{
    --text: white;
    --body: #1E2D2F;
    --effects: #FFB7C3;
}
body{
    background-color: var(--body);
    width: 1100px;
    margin: auto;
}

/* header */
header{
    background-color: var(--body);
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}
/* text styling */
nav ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* layout */
nav ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    
}

nav ul li{
    border: 2px solid grey;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    background-color: var(--body);
    padding: 5px;
}
nav ul li a{
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
}

nav ul li:hover{
    background-color: var(--effects);
    transition: 0.5s;
}

/* section1 About me */
/* width 10 height 11 */
/* setting the image size */
.myphoto{
    width: 400px;
    /* height: 360px; */
    padding: 5px;
}
#About .photo1{
    border: 2px solid grey;
    border-radius: 5px;
    width: 420px;
    text-align: center;
}
#About{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.intro{
    width: 420px;
    margin: auto;
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}
h1, h2{
    color: var(--effects);
    line-height: 1.4;

}

/* section2 projects */

/* project1 */
/* width 1830 height 893 */
.problemaimg{
    width: 597px;
    height: 308px;
}
/* layout */
.project1 div{
    display: flex;
    flex-shrink: 1;
}
.project1 div p{
    width: 420px;
    margin: auto;
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}
#projects div h2{
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* project2 */
.project2 div{
    display: flex;
    flex-shrink: 1;
}
.project2 div p{
    width: 420px;
    margin: auto;
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

/* project3 */

.project3 div{
    display: flex;
    flex-shrink: 1;

}
.project3 div img{
    width: 597px;
    height: 308px;
}
.project3 div p{
    width: 420px;
    margin: auto;
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}

/* Section3 Resume */
#resume div{
    text-align: center;
}
.resume2{
    height: 365px;
}
#resume div img{
    width: 500px;
}
.linkresume, a.problema, a.atm, a.ROW{
    color: var(--effects);
    font-style: italic;
}

/* section4 footer */
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div{
    width: 420px;
    margin: auto;
    color: var(--text);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}
hr{
    color: var(--effects);
}

.linkedin{
    width: 70px;
    margin-left: 40%;
}
.github{
    width: 80px;
    margin-left: 10%;  
}